.market_open {
    color: #118C4F;
    font-weight: 600;
}

.market_close {
    color: #E42A33;
    font-weight: 600;
}

.profit {
    color: #118C4F;
    font-weight: 600;
}

.loss {
    color: #F40000;
    font-weight: 600;
}

.text-lg {
    font-size: 2em;
}

.text-md {
    font-size: 1.1em;
}

.text-smd {
    font-size: 0.9em;
}

.text-sm {
    font-size: 0.7em;
}

.text-bold {
    font-weight: 700;
}

.drag-begin {
    background-color: alpha(#1FFF0F, 0.3);
    box-shadow: inset 0 0 0 0.1em alpha(#1FFF0F, 0.8);
}

.pd-left-sm {
    padding-left: 10px;
}

.pd-left-md {
    padding-left: 20px;
}

.pd-right-sm {
    padding-right: 10px;
}

.pd-bottom-sm {
    padding-bottom: 5px;
}

.row {
    padding-right: 5px;
    padding-left: 5px;
    padding-bottom: 3px;
}
