.market-closed {
  background: repeating-linear-gradient(
    45deg,
    rgba(75, 85, 99, 0.2),
    rgba(75, 85, 99, 0.3) 12px,
    rgba(75, 85, 99, 0.4) 12px,
    rgba(75, 85, 99, 0.4) 24px
  );
}

.remove-button {
  opacity: 0;
  margin-left: 0;
  margin-right: -40px;
  transition: all 200ms ease;
}

.remove-button.enabled {
  opacity: 1;
  margin-right: 0;
}


